* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #181818;
    color: #ffffff;
}

.container {
    margin: auto;
    max-width: 600px;
    height: 100vh;
}

header {
    display: flex;
    align-self: flex-start;
    padding: 20px;
}

main {
    padding-top: 70px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.timer {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 10px solid #a06cd5;
    font-size: 4rem;
    text-align: center;
    line-height: 230px;
}

.group-btn {
    display: flex;
    justify-content: center;
}

button {
    border: none;
    cursor: pointer;
}

.btn-timer {
    font-size:1.5rem;
    width: 60px;
    height: 60px;
    text-align: center;
    color: #313131;
    background-color: #f7f7f7;
    border-radius: 50%;
    text-align: center;
    transition: all 500ms;
    padding: 10px;
}

.btn-timer:hover {
    background-color: #c2c2c2;
}

.btn-header {
    background: none;
    color: #ffffff;
    font-size: 2.5rem;
    transition: all 500ms;
}

.btn-header:hover {
    color: #c2c2c2;
}

.settings {
    padding: 40px;
}

h1 {
    margin-bottom: 40px;
}

/* Settings */
form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

input[type="number"] {
    color: #eee;
    font-size: 1.2rem;
    background: none;
    border: 1px solid #acacac;
    margin-bottom: 30px;
    border-radius: 10px;
    padding: 10px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.color-settings {
    padding-top: 20px;
    display: flex;
    flex-flow: row wrap;
    gap: 40px
}

.color-settings div {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}
.color-settings div label{
    padding-left: 10px;
}

.set-color {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: transparent;
    appearance: none;
    border: none;
    width: 3rem;
    height: 3rem;
    border-radius: 10px;
    transition: all 300ms;
}
.set-color:hover{
    transform: scale(1.2);
}

.set-color::-webkit-color-swatch {
    border-radius: 10px;
    border: none;
}

.save {
    margin-top: 30px;
    width: max-content;
    border-radius: 15px;
    background-color: #f72585;
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 10px 15px;
    transition: all 300ms;
    display: flex;
    gap: 8px;
    flex-direction: row;
    align-items: center;
}

.save:hover {
    background-color: #bd1d65;
}

/* .shadow{
    filter: drop-shadow(-10px 10px 10px rgba(173, 0, 150, 0.199));
} */